target
node
node_modules
.idea
*.iml
.classpath
.project
.settings
.tmp
.merge_file*
.sass-cache
.DS_Store
src/main/webapp/dist
.gradle
build
src/main/resources/rebel.xml
src/main/resources/rebel-remote.xml
vagrant/.vagrant
vagrant/logs/tomcat/
.directory
nodes_modules
src/main/webapp/bower_components
.checkstyle
.tern-project
